<%= simple_form_for(@pair) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :duration %>
    <%= f.input :deleted %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
