<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @faculty.name %>
</p>

<p>
  <b>Url:</b>
  <%= @faculty.url %>
</p>

<p>
  <b>Deleted:</b>
  <%= @faculty.deleted %>
</p>


<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
