<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Name:</b>
  <%= @faculty.name %>
</p>

<p>
  <b>Url:</b>
  <%= @faculty.url %>
</p>

<p>
	<b>Преподаватели:</b>
  <ul>
    <% @faculty.teachers.each do |t| %>
      <li>
        <%= link_to t.fio, t %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Deleted:</b>
  <%= @faculty.deleted %>
</p>


<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
