<!-- <p id="notice"><%= notice %></p> -->
<p>
  <b>ID:</b>
  <%= @group.myid %>
</p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Faculty:</b>
  <%= @group.faculty.name %>
</p>

<p>
  <b>Level:</b>
  <%= @group.level.name %>
</p>

<p>
  <b>Deleted:</b>
  <%= @group.deleted %>
</p>

<div class="schedule">
	<%= render "schedule" %>
</div>


<%= link_to 'Edit', edit_group_path(@group), class: "btn" %>
<br />
<%= link_to 'Back', :back, class: "btn" %>
