<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Faculty:</b>
  <%= @group.faculty_id %>
</p>

<p>
  <b>Level:</b>
  <%= @group.level_id %>
</p>

<p>
  <b>Deleted:</b>
  <%= @group.deleted %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
