<%= simple_form_for(@teacher) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fio %>
    <%= f.association :faculties, label_method: :name %>
    <%= f.association :subjects, label_method: :name %>
    <%= f.input :deleted %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
