<h1>Listing teachers</h1>

<table class="table table-hover">
  <tr>
    <th>ФИО</th>
    <th>Faculty</th>
    <th>Subject</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.fio %></td>
    <td>
      <ul>
        <% teacher.faculties.each do |t| %>
          <li>
            <%= link_to t.name, t %>
          </li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% teacher.subjects.each do |t| %>
          <li>
            <%= link_to t.name, t %>
          </li>
        <% end %>
      </ul>
    </td>
    <td><%= teacher.deleted %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
