<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Fio:</b>
  <%= @teacher.fio %>
</p>

<p>
  <b>Faculty:</b>
  <ul>
    <% @teacher.faculties.each do |t| %>
      <li>
        <%= link_to t.name, t %>
      </li>
    <% end %>
  </ul>
</p>

<p>
	<b>Предметы:</b>
  <ul>
    <% @teacher.subjects.each do |t| %>
      <li>
        <%= link_to t.name, t %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Deleted:</b>
  <%= @teacher.deleted %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
